@import 'helpers/variables';

@mixin font-default {
  font-family: $default-font-family;
  font-size: $default-font-size;
  color: $default-color;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}