.container {
  border: 2px solid white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container__summary-information {
  border: 1px solid pink;
  width: 30vw;
  height: 40vh;
  padding: 25px;
  border-radius: 10px;
  margin-top: -117px;
  margin-left: 20px;
}

.card-simulator {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 420px;
  height: 40vh;
  padding: 25px;
  border-radius: 10px;
  background: #ffffff;
  color: #666666b5;

  .card-simulator__title {
    align-self: center;
  }

  .quote-form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;

    .quote-form__box {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      margin-right: 35px;
      align-items: center;
    }

    .quote-form__input {
      flex-grow: 1;
      margin-left: 10px;
      border-radius: 5px;
      border: 0;
      background-color: #dadada3d;
      height: 40px;
      color: #666666b5;
    }

    .quote-form__locale-img {
      width: 25px;
      height: 30px;
    }

    .quote-form__search-icon {
      margin-right: -13px;
    }

    .quote-form__cash-icon {
      width: 25px;
      height: 30px;
      text-align: center;
      color: #F6550B;
    }

    .quote-form__content {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
    }

    .quote-form__button {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    }

    .quote-form__button-submit {
      background-color: #F6560A;
      color: #ffffff;
      flex-grow: 1;
      border-radius: 5px;
      padding-bottom: 15px;
      padding-top: 15px;
      border: 0;
    }
  }

  .card-simulator__coin-name {
    font-size: 16px;
  }

  .card-simulator__coin-value {
    color: limegreen;
    font-size: 30px;
  }
}



.payment-information__card-image {
  width: 40px;
  height: 50px;
}

.payment-information {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  align-items: center;
}

@media all and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 1300px;
    justify-content: space-around;
  }

  .card-simulator {
    width: 80vw;
    margin-top: 10px;
  }

  .container__summary-information {
    width: 80vw;
    margin-left: 0;
  }
}
