<div class="container">

  <div class="card-simulator">
    <div class="card-simulator__title">
      <p>
        <span class="card-simulator__coin-name">Dolar</span>
        <span class="card-simulator__coin-value">50</span>
      </p>
    </div>

    <div class="card-simulator__content">
      <div class="quote-form">
        <label for="input-locale" class="quote-form__label">Local</label>
        <input type="text" id="input-locale" class="quote-form__input"/>

        <label for="input-coin" class="quote-form__label">Local</label>
        <input type="text" id="input-coin" class="quote-form__input"/>

        <button class="quote-form__button-submit">Comparar casas de câmbio</button>
      </div>
    </div>

  </div>

  <div class="payment-information">
    <div class="payment-information__credit-card-brand">
      <img src="/master_card.svg" alt="">
      <img src="visa_card.svg" alt="">
      <img src="amex_card.svg" alt="">
      <img src="diners_card.svg" alt="">
      <img src="aura_card.svg" alt="">
    </div>
    <p class="payment-information__description">Page com seu cartão de crédito em até 12X</p>
  </div>
</div>