<div class="container">

  <div class="card-simulator">
    <div class="card-simulator__title">
      <span class="card-simulator__coin-name">a</span>

      <span class="card-simulator__coin-value">50</span>
    </div>

    <div class="card-simulator__content">
      <div class="quote-form">
        <label for="input-locale" class="quote-form__label">Local</label>
        <input type="text" id="input-locale" class="quote-form__input"/>

        <label for="input-coin" class="quote-form__label">Local</label>
        <input type="text" id="input-coin" class="quote-form__input"/>

        <button class="quote-form__button-submit">Comparar casas de câmbio</button>
      </div>
    </div>

  </div>

  <div class="payment-information">

  </div>
</div>